@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4 {
		letter-spacing: -0.4px;
		@apply font-bold;
	}

	h1 {
		@apply text-4xl md:text-6xl;
	}

	h2 {
		@apply text-2xl md:text-5xl;
	}

	h3 {
		@apply text-2xl md:text-[32px];
	}

	h4 {
		@apply text-xl md:text-3xl;
	}

	p {
		@apply text-base;
	}
}

@layer utilities {
	@variants hover {
		.img-shadow {
			box-shadow: 15px 15px 0px 0px #0f8b8d;
			transition: 0.3s;
			opacity: 1;
		}

		.img-shadow:hover {
			box-shadow: 10px 10px 0px 0px #0f8b8d;
			opacity: 0.95;
		}
	}
}
